.jumbotron{	
	text-align: center;
	color: red;
	background-color: black;
	box-shadow: 0px 0px 50px red;
	margin: 5px;
	margin-bottom: 25px;
	
}


.navbar navbar-inverse{
	color: red;
}


body
{
	background-color: black;
	color: #337ab7;
}


.hide{
	visibility: hidden;
}



.bords{
	box-shadow: 0px 0px 50px red;
	height:100%;
	padding: 0px 40px;
	padding-bottom: 15px;
	margin-left: 10px;
	
}
.bords1{
	box-shadow: 0px 0px 50px red;
	height:100%;
	padding: 0px 40px;
	padding-bottom: 15px;
	margin-left: 10px;
	
	
}

.tile {
	height: 600px;
	
}
img {
	width:128px;height:150px;
	padding: 5px;
	margin: 0px;
}

.gallery{
	padding-left: 10px;
}


	


@media (max-width: 991px)and (min-width: 600px){
	.col-sm-6 {
		width: 45%;
		height: 110%;
		
	}

}

@media (min-width: 992px){

	.col-md-4{
		width: 32%;
	}
}
@media (max-width:599px){
	li{
		display: block;
	}
	test{
		display:none;
	}	
	.img-responsive{
		display:none;
	}
	.hide{
		visibility: visible
    }

	.col-md-2{
		display: none;
		
	}
	.col-md-8{
		height:600px;
	}
}